.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面全体に配置 */
}

.spinner {
  border: 4px solid #ccc; /* 薄い色の外枠 */
  border-top: 4px solid #333; /* スピナーの色 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
