.login {
  width: 100v2;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  /* background-color: green; */
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #41428b;
  margin-bottom: 10px;
}

.logoDesc {
  font-size: 24px;
}

.loginBox {
  height: 400px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 3px 7px 13px -10px #65789f;
  border-radius: 10px;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #41428b;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: #41428b;
  margin: 15px 0;
}

.loginRegisterButton {
  height: 50px;
  width: 60%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #3c8b50;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
}

.loginMsg {
  text-align: center;
  font-weight: 550;
  font-style: 20px;
  margin-bottom: 10px;
}
