.sidebar {
  position: fixed;
  margin-top: 3rem;
  height: 100vh;
  z-index: 50;
  margin-left: 13rem;
  width: 300px;
  max-width: 300px;
  transition: width 0.3s ease; /* スムーズな幅の変化 */
  overflow: hidden;
}

.linkname {
  font-size: 1.25rem;
}

@media (max-width: 1600px) {
  .sidebar {
    width: 200px;
    margin-left: 8rem;
  }
}

/* 1340px以下でテキストを非表示 */
@media (max-width: 1340px) {
  .sidebar {
    width: 80px;
    margin-left: 8rem;
  }

  .linkname {
    display: none;
  }
}

/* 1020px以下でテキストを再表示し、縦並びにする */
@media (max-width: 1020px) {
  .sidebar {
    margin-left: 5px;
    width: 300px;
  }

  .linkname {
    display: block;
  }
}
