.timeline {
  display: flex;
  justify-content: center; /* 水平方向の中央寄せ */
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%; /* 幅を100%に */
  max-width: 600px; /* 最大幅を指定 */
  margin: 0 auto; /* 上下のマージンを自動に */
}

.timelineWrapper {
  width: 100%; /* 横幅を100%に設定 */
  padding: 20px;
  position: relative; /* 子要素の位置指定用 */
}

.share {
  position: sticky; /* スクロールしても位置を固定 */
  top: 10%; /* 上に固定 */
  background-color: #fff; /* 背景色を指定 */
  height: 170px; /* 固定高さ */
  box-shadow: 3px 7px 13px -10px #65789f;
  border-radius: 10px;
  padding: 20px 0;
  z-index: 1; /* 他の要素より前面に表示 */
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 100%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 550;
}

.shareButton {
  border: none;
  padding: 6px 17px;
  background-color: #2c517c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
