.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

/* イベント情報を表示する --------------------------------------------------------------------------------------------------------------------*/
.eventContainer {
  display: flex;
  align-items: center;
}

.starImg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.eventText {
  font-weight: 300;
  font-size: 15px;
}

.eventImg {
  width: 100%;
  border-radius: 10px;
  margin: 25px 0;
}

/* オンライン中のユーザの表示 ----------------------------------------------------------------------------------------------------------------*/
.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}

.rightbarUsername {
  font-weight: 550;
}

.rightbarOnline {
  background-color: purple;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: -2px;
  left: 0;
  border: 2px solid white;
}

/* プロモーション広告を表示する -------------------------------------------------------------------------------------------------------------*/
.promotionTitle {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 10px;
}

.rightbarPromotionImg {
  width: 85%;
  border-radius: 10px;
  margin: 25px 0;
}

.promotionName {
  font-size: small;
  color: #434343;
  margin-top: -20px;
}

/* プロフィールページ用の右サイドバーのユーザ情報を表示する -----------------------------------------------------------------------------------*/
.rightbarTitle {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-bottom: 30px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-left: 5px;
  color: #555;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}
